html {
    font-family: Helvetica;
    background-color: #DDD;
}

.container {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    margin: 50px;
    background-color: #FFF;
}

.destaque {
    font-weight: bold;
}

/* cabecalho */

.cabecalho {
    text-align: center;
}

.titulo-principal {
    font-size: 40px;
}

.paragrafo-principal {
    font-style: italic;
}