* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Classes e ID */
.p_texto {
    color: darkolivegreen;
}

#titulo_app {
    color: darkslateblue;
}

/* Cores */
.nome {
    color: olivedrab;
}

.hexa {
    color: #596d8f;
}

.rgba {
    color: rgba(48, 99, 55, .5);
}

/* Backgrounds */
.div_background {
    background-image: url(img/por_do_sol.jpg);
    height: 400px;
}

.titulo_background {
    text-align: center;
    background-color: #000;
    color: #fff;
}