* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Classes e ID */
.p_texto {
    color: darkolivegreen;
}

#titulo_app {
    color: darkslateblue;
}

/* Cores */
.nome {
    color: olivedrab;
}

.hexa {
    color: #596d8f;
}

.rgba {
    color: rgba(48, 99, 55, .5);
}

/* Backgrounds */
.div_background {
    background-image: url(img/por_do_sol.jpg);
    height: 400px;
}

.titulo_background {
    text-align: center;
    background-color: #000;
    color: #fff;
}

/* Fontes */
.family {
    color: cornflowerblue;
}

.family.serif {
    color: darkolivegreen;
}

.serif {
    font-family: 'Times New Roman';
}

.sans_serif {
    font-family: Arial;
}

.monospace {
    font-family: 'Courier New';
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.bold {
    font-weight: bold;
}

.variant {
    font-variant: small-caps;
}

/* Box model*/
.box_model {
    width: 200px;
    height: 200px;
    background-color: darkcyan;
    /* top, right-left, bottom*/
    padding: 30px 20px 5px;
    border: 2px dashed #ccc;
}

.paragrafo_box {
    font-family: Geneva, Tahoma, sans-serif;
    color: #fccf03;
    margin: 0;
}