* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Classes e ID */
.p_texto {
    color: darkolivegreen;
}

#titulo_app {
    color: darkslateblue;
}